# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.ClassJournal.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\For programming\ClassJournal\src\.idea\.idea.ClassJournal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
